.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.copyrightName {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width) {
  .copyrightName {
    font-size: 10px;
  }
}
.copyright {
  padding: 8px 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 576px) {
  .copyright {
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
