.inputContainer{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 150px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.inputTitle{
    color: #0000bf;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.input{
    width:20%;
    padding:8px
}
.calculationPartContainer{
    display: flex;
    justify-content: center;
}
.calculaterContainer{
    margin-right: 60px;
}
.primeButton{
    background-color:chocolate;
    color: white;
    border-radius: 6px;
    border-width: 0px;
    height:36px;
    width:120px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.factButton{
    background-color:darkblue;
    color: white;
    border-width: 0px;
    border-radius: 6px;
    height:36px;
    width:100px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.fibButton{
    background-color:darkorchid;
    color: white;
    border-width: 0px;
    border-radius: 6px;
    height:36px;
    width:100px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.palButton{
    background-color:rgb(233, 54, 54);
    color: white;
    border-width: 0px;
    border-radius: 6px;
    height:36px;
    width:100px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.result{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
@media (max-width:576px){
    .inputContainer{
        margin-bottom: 30px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: antiquewhite;
        padding: 50px;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    .inputTitle{
        font-size: 12px;
    }
    .input{
        width:80px;
        height: 10px;
        padding:0px
    }
    .calculaterContainer{
        margin-right: 30px;
    }
    .primeButton{
        height:20px;
        width:60px;
        font-size: 08px;
        margin-left:60px;
    }
    .factButton{
        height:20px;
        width:60px;
        font-size: 08px;
    }
    .fibButton{
        height:20px;
        width:60px;
        font-size: 08px;
    }
    .palButton{
        height:20px;
        width:60px;
        font-size: 08px;
    }
    .result{
        font-size: 8px;
        
    }
    .primeResult{
        padding-left:30px;
    }
}